{% set pageTitle = "Docs - Manga Methods" %}
{% include "AtarashiiAPIBundle:includes:header.html.twig" %}

<div class="row">
    <div class="col-md-9">
        <h1>Manga Methods</h1>
        <p>All the below methods deal with reading and writing data related to manga. This includes managing a user's list.</p>


        <h2>Methods to Get Information</h2>

        <h3>Reading the Manga List</h3>
        <dl>
            <dt>URI Format</dt><dd>mangalist/<em>username</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Retrieves the list of a user's manga. Output is a <a href="{{ path('_docs2_responses') }}#mangalist">manga list</a>.</p>

        <h3>Manga Details</h3>
        <dl>
            <dt>URI Format</dt><dd>manga/<em>id</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>Optional<sup><a href="#foot1">1</a></sup></dd>
        </dl>
        <p>Gets the details of the title specified by the id number. Output is a <a href="{{ path('_docs2_responses') }}#manga">manga object</a>.</p>
        <p>The following optional parameters are supported:</p>
        <ul>
            <li><code>mine</code>: This allows you to get personal info. Must contain a integer (like 1), it doesn't matter which one.</li>
        </ul>

        <h3>Cast Details</h3>
        <dl>
            <dt>URI Format</dt><dd>manga/cast/<em>id</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Gets the list of staff members and characters with the voice actors. Output is an list of <a href="{{ path('_docs2_responses') }}#cast">cast objects</a>.</p>

        <h3>Review Details</h3>
        <dl>
            <dt>URI Format</dt><dd>manga/reviews/<em>id</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Gets the list of reviews. Output is an list of <a href="{{ path('_docs2_responses') }}#review">review objects</a>.</p>
        <p>The following optional parameters are supported:</p>
        <ul>
            <li><code>page</code>: The current set of reviews to return. Each set contains at most 20 items. Default value is &quot;1&quot; if not supplied.</li>
        </ul>

        <h3>Recommendations Details</h3>
        <dl>
            <dt>URI Format</dt><dd><span class="label label-success">API 2.1+</span> manga/recs/<em>id</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Gets the list of Recommendations. Output is an list of <a href="{{ path('_docs2_responses') }}#Recommendations">Recommendations objects</a>.</p>


        <h2>Methods to Change Information</h2>

        <p class="alert alert-info">All post data <strong>must</strong> be sent as x-www-form-urlencoded as the API does not currently support multipart/form-data!</p>

        <h3>Adding Manga</h3>
        <dl>
            <dt>URI Format</dt><dd>mangalist/manga</dd>
            <dt>Method</dt><dd>POST</dd>
            <dt>Authentication</dt><dd>Required</dd>
        </dl>
        <p>Adds a manga to the authenticated user's list with the details provided in the post body. Output is blank.</p>
        <p>The values that can be sent in the post body:</p>
        <ul>
            <li><code>manga_id</code>: The ID of the manga, as assigned by MyAnimeList</li>
            <li><code>status</code>: An integer or specific string indicating the current status of the title for the user. Allowed values are 1/"reading", 2/"completed", 3/"on-hold"/"onhold", 4/"dropped", 6/"plan to read"/"plantoread".</li>
            <li><code>chapters</code>: The number of the last chapter read by the user.</li>
            <li><code>volumes</code>: The number of the last volume read by the user.</li>
            <li><code>score</code>: An integer, from 1 to 10 indicating the user's score of the title.</li>
        </ul>

        <h3>Updating a Manga</h3>
        <dl>
            <dt>URI Format</dt><dd>mangalist/manga/<em>id</em></dd>
            <dt>Method</dt><dd>PUT</dd>
            <dt>Authentication</dt><dd>Required</dd>
        </dl>
        <p>Updates the status of a manga on the authenticated user's list with the details provided in the post body. The manga must already exist in the user's list. The id in the URL should be the id as assigned by MyAnimeList. Output is blank.</p>
        <p>The values that can be sent in the post body:</p>
        <ul>
            <li><code>status</code>: An integer or specific string indicating the current status of the title for the user. Allowed values are 1/"reading", 2/"completed", 3/"on-hold"/"onhold", 4/"dropped", 6/"plan to read"/"plantoread".</li>
            <li><code>chapters</code>: The number of the last chapter read by the user.</li>
            <li><code>volumes</code>: The number of the last volume read by the user.</li>
            <li><code>score</code>: An integer, from 1 to 10 indicating the user's score of the title.</li>
            <li><span class="label label-success">API 2+</span> <code>start</code>: The date the user started watching the anime title in ISO-8601 format (YYYY-MM-DD).</li>
            <li><span class="label label-success">API 2+</span> <code>end</code>: The date the user finished watching the anime title in ISO-8601 format (YYYY-MM-DD).</li>
            <li><span class="label label-success">API 2+</span> <code>downloaded_chap</code>: An integer indicating the number of chapters downloaded by the user.</li>
            <li><span class="label label-success">API 2+</span> <code>reread_count</code>: An integer indicating the number of times the user has reread the title. This does not count the first completed reading.</li>
            <li><span class="label label-success">API 2+</span> <code>reread_value</code>: An integer from 1 (very low) to 5 (very high) very high indicating how much value there is in rereading the title.</li>
            <li><span class="label label-success">API 2+</span> <code>priority</code>: An integer from 0 (low) to 2 (high) indicating the priority of the title for the user.</li>
            <li><span class="label label-success">API 2+</span> <code>is_rereading</code>: An integer indicating true (1) or false (0) if the user is currently rereading the title.</li>
            <li><span class="label label-success">API 2+</span> <code>comments</code>: A string containing comments on the title.</li>
            <li><span class="label label-success">API 2+</span> <code>tags</code>: A comma-separated string of tags the user assigned to the title.</li>
        </ul>

        <h3>Deleting a Manga</h3>
        <dl>
            <dt>URI Format</dt><dd>mangalist/manga/<em>id</em></dd>
            <dt>Method</dt><dd>DELETE</dd>
            <dt>Authentication</dt><dd>Required</dd>
        </dl>
        <p>Deletes a manga from the authenticated user's list. The id in the URL should be the id as assigned by MyAnimeList. Output is blank.</p>


        <h2>Searches and Global Lists</h2>

        <h3>Searching for an Manga</h3>
        <dl>
            <dt>URI Format</dt><dd>manga/search?q=<em>search_terms</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>Optional</dd>
        </dl>
        <p>Runs a search of the title against manga on MAL. Output is an <a href="{{ path('_docs2_responses') }}#mangalist">manga list</a>.</p>
        <p>The following optional parameters are supported:</p>
        <ul>
            <li><span class="label label-success">API 2.1+</span> <code>mine</code>: This allows you to get <b>only details provided by the official API</b> like synonyms, english titles and a complete synopsis. Mine should be 1 and the user must be Authenticated to use the official API details.</li>
        </ul>

        <h3>Browse for an Manga</h3>
        <dl>
            <dt>URI Format</dt><dd><span class="label label-success">API 2.1+</span> manga/browse</dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Runs an advanced search on MAL. Output is an <a href="{{ path('_docs2_responses') }}#mangalist">manga list</a>.</p>
        <p>The following optional parameters are supported:</p>
        <ul>
            <li><code>genres</code>: The genres which should be included or excluded separated by ",". The genres can be ids and names given by MAL.</li>
            <li><code>genre_type</code>: Determines if the provided genres should be included or excluded. The default is 0 which means the genres are included and 1 means excluded.</li>
            <li><code>sort</code>: This will sort the output by the title, start date, end date, score, volume, type, members or chapter. Ids and names are both supported. The default is 0 which won't sort the list.</li>
            <li><code>reverse</code>: This is an integer value which is by default 0 known as ascending, 1 is descending.</li>
            <li><code>start_date</code>: This will only show records which started after this date. This must be a YYYY-MM-DD string such as "2012-11-22".</li>
            <li><code>end_date</code>: This will only show records which ended before this date. This must be a YYYY-MM-DD string such as "2012-11-22".</li>
            <li><code>rating</code>: The MAL records rating which goes from and integer 0 till 6. 0 equals Unrated and 6 Rx - Hentai.</li>
            <li><code>status</code>: This defines the record status like publishing, finished or not yet. This can be ids or names which are both supported. The default value is 0 which means all.</li>
            <li><code>type</code>: The type which can be Manga, Novel, One-shot, Doujin, Manhwa, Manhua and OEL or the MAL ids as integer.</li>
            <li><code>keyword</code>: Keyword used to search in titles. This is the same as search_terms.</li>
            <li><code>score</code>: The minimal score as an integer value which the record should have.</li>
            <li><code>page</code>: The page which is an integer values and is set by default on 1.</li>
        </ul>

        <h3>Top Ranking Manga</h3>
        <dl>
            <dt>URI Format</dt><dd>manga/top</dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Returns the top-rated manga titles on MAL. Output is a <a href="{{ path('_docs2_responses') }}#mangalist">manga list</a>.</p>
        <p>The following optional parameters are supported:</p>
        <ul>
            <li><code>page</code>: The current set of titles to return. Each set contains at most 50 items. Default value is &quot;1&quot; if not supplied.</li>
            <li><code>type</code>: Filters to a specific type of title to return. Can be one of &quot;&quot;manga&quot;, &quot;novels&quot;, &quot;oneshots&quot;, &quot;doujin&quot;, &quot;manhwa&quot;, &quot;manhua&quot;, or &quot;oels&quot;. Default is no filter.</li>
        </ul>

        <h3>Popular Manga</h3>
        <dl>
            <dt>URI Format</dt><dd>manga/popular</dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Returns the most popular titles on MAL. Output is a <a href="{{ path('_docs2_responses') }}#mangalist">manga list</a>.</p>
        <p>The following optional parameters are supported:</p>
        <ul>
            <li><code>page</code>: The current set of titles to return. Each set contains at most 50 items. Default value is &quot;1&quot; if not supplied.</li>
        </ul>

        <h3>Upcoming Manga</h3>
        <dl>
            <dt>URI Format</dt><dd>manga/upcoming</dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Returns upcoming titles on MAL, sorted by publication date. Output is a <a href="{{ path('_docs2_responses') }}#mangalist">manga list</a>.</p>
        <p>The following optional parameters are supported:</p>
        <ul>
            <li><code>start_date</code>: The date at which to start the list, formatted as YYYYMMDD. The date may be in the past. Default is the current date.</li>
            <li><code>page</code>: The current set of titles to return. Each set contains at most 50 items. Default value is &quot;1&quot; if not supplied.</li>
        </ul>

        <h3>Manga Just Added</h3>
        <dl>
            <dt>URI Format</dt><dd>manga/just_added</dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Returns the most recently added titles on MAL, ordered by the most recently added items. Output is a <a href="{{ path('_docs2_responses') }}#mangalist">manga list</a>.</p>
        <p>The following optional parameters are supported:</p>
        <ul>
            <li><code>page</code>: The current set of titles to return. Each set contains at most 50 items. Default value is &quot;1&quot; if not supplied.</li>
        </ul>

        <hr>

        <p>Footnotes</p>
        <ol>
            <li><a name="foot1"></a>Although authentication is not required, additional information such as list status details can be provided if authentication is made.</li>
        </ol>
    </div>
</div>


{% include "AtarashiiAPIBundle:includes:footer.html.twig" %}
